@page
@model ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurant</h1>

<form method="get"> 
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for= "SearchTerm" />   
            <button type="button" class="btn btn-default btn-sm">
               search
            </button>
         </div>
    </div>
</form>

@foreach(var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant"/>
}

<!-- does not take to new page by default, bcs edit page demands and requires a restaurant ID "page {restaurantId:int}"
    in row 1 in Edit.cshtml. make it a optional parameter by ? 
-->
<a asp-page="./Edit" class="btn btn-primary"> Add new</a>

@section footer {
    <div> @Model.Message</div>
}